source [find interface/cmsis-dap.cfg]

set WORKAREASIZE 0x8000

transport select swd

# Enable debug when in low power modes
set ENABLE_LOW_POWER 1

# Stop Watchdog counters when halt
set STOP_WATCHDOG 1

# STLink Debug clock frequency
set CLOCK_FREQ 2000

# Use software system reset
reset_config none
set CONNECT_UNDER_RESET 0

gdb port 14566
telnet port 14568
source [find target/stm32h7x.cfg]