source [find interface/cmsis-dap.cfg]

set WORKAREASIZE 0x8000

transport select swd

# Enable debug when in low power modes
set ENABLE_LOW_POWER 1

# Stop Watchdog counters when halt
set STOP_WATCHDOG 1

# STLink Debug clock frequency
set CLOCK_FREQ 2000

# Use software system reset
reset_config none
set CONNECT_UNDER_RESET 0

# gdb port 14566
# telnet port 14568
source [find target/stm32h7x.cfg]

# triggered when reset, only once
stm32h7x.cpu0 configure -event reset-init {
    echo "=================================================="
    echo "  STM32H7 Hardware Detected! Initializing RTT...  "
    echo "=================================================="
    
    # search "SEGGER RTT" in DTCM
    rtt setup 0x20000000 0x20000 "SEGGER RTT"
    
    # channel 0: 9000, channle 1: 9001
    rtt server start 9000 0
    rtt server start 9001 1
    
    rtt start
    
    echo "=================================================="
    echo "   RTT Independent Servers Started Successfully   "
    echo "=================================================="
}
